
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #0b0b0b;
  color: white;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}





header {
  background: #111;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  color: #f5c518;
  font-size: 22px;
  font-weight: bold;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

nav a {
  color: #f5c518;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

.menu-btn {
  font-size: 28px;
  color: #f5c518;
  cursor: pointer;
  display: none;
}


main {
  padding: 30px;
  text-align: center;
}

main h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 30px;
  color: #ccc;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

.card {
  background: #f2f2f2;
  color: #000;
  padding: 20px;
  width: 280px;
  border-radius: 10px;
}

.card h2 {
  margin-bottom: 15px;
}

.card input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.card button {
  margin: 5px;
  background: #f5c518;
  color: #111;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.card button:hover {
  opacity: 0.9;
}

.card ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.card li {
  background: #ddd;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  text-align: left;
}



footer {
  background: #111;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  text-align: center;
}


.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


#newsEmail {
  width: 250px;
  padding: 8px;
  font-size: 14px;
}

.newsletter button {
  padding: 10px 18px;
  font-size: 14px;
  background: #f5c518;
  color: #111;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}


footer nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  justify-content: center;
}




@media (max-width: 768px) {
  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #111;
    padding: 20px;
    border-radius: 8px;
  }

  header nav ul.show {
    display: flex;
  }

  .menu-btn {
    display: block;
    margin-left: auto;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}