
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #0b0b0b;
  color: white;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}


header {
  background: #111;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  color: #f5c518;
  font-size: 22px;
  font-weight: bold;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

nav a {
  color: #f5c518;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

.menu-btn {
  font-size: 28px;
  color: #f5c518;
  cursor: pointer;
  display: none;
}


.hero {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  align-items: center;
  gap: 20px;
}

.quote {
  padding: 90px;
}

#quoteText {
  font-size: 40px;
  margin-bottom: 0px;
}

#quoteAuthor {
  font-size: 18px;
  color: #f5c518;
}

.author-block {
  color: #f5c518;
  text-align: center;
  font-size: 20px;
}
.author-block img {
  width: 300px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  margin: 10px 0;
}


footer {
  background: #111;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#newsEmail {
  width: 250px;
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
}

.newsletter button {
  padding: 10px 18px;
  font-size: 14px;
  background: #f5c518;
  color: #111;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.newsletter button:hover {
  opacity: 0.9;
}

footer nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  align-items: center;
  justify-content: center;
}




/* Mobile */
@media (max-width: 768px) {
  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #111;
    padding: 20px;
    border-radius: 8px;
  }

  header nav ul.show {
    display: flex;
  }

  .menu-btn {
    display: block;
    margin-left: auto;
  }

  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero img {
    margin: 0 auto;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #newsEmail {
    width: 100%;
    max-width: 300px;
  }
}